/*
 * This file can be used to customize the look of Mozilla's user interface
 * You should consider using !important on rules which you want to
 * override default settings.
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* set default namespace to XUL */

/* hide the bookmark toolbar icon labels */
/* .toolbarbutton-icon { */
/*   display: none !important; */
/* } */

#personal-bookmarks .bookmark-item > .toolbarbutton-icon {
  display: none !important;
}

/* #personal-bookmarks .bookmark-item > .toolbarbutton-icon {display:none!important} */

/* remove menu items */
#helpMenu {
  display: none !important;
}

/* hide the help menu */
menu[label="Help"] {
  display: none !important;
}
